body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameCanvas {
    border: 1px solid #FFF;
}

#scoreBoard {
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: white;
    margin-top: 10px;
    font-size: 18px;
}

#gameOver {
    text-align: center;
    color: white;
}

.hidden {
    display: none;
}
